name: Publish package to the Maven Central Repository

on:
  pull_request:
    types:
      - closed
    branches:
      - main
  workflow_dispatch:
    inputs:
      base_branch:
        description: 'Base branch for PR'
        required: false
        default: 'main'

jobs:
#  run_if:
#    if: startsWith(github.head_ref, 'bump-version-')
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.inputs.base_branch }}
          fetch-depth: 0
          submodules: recursive
      - name: Set up JDK and Maven Settings
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Check the gpg key
        run: |
          gpg --list-keys

      - name: Publish package
        run: mvn --batch-mode deploy -DskipTests -Prelease
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
